.body-contents-area{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.contents-header-area{
	display: flex;
	width: 100%;
	flex-direction: column;
}

.contents-header-tab-area{
	display: table;
	border-collapse: collapse;
}

.contents-header-tab{
	display: table-cell;
	padding: 25px;
	text-align: center;
    font-size: 18px;
    cursor: pointer;
    width: 25%;
    border-bottom: 1px solid #333333;
}
.contents-header-tab-area > div.active{
	border: 1px solid #333333;
	border-bottom: 1px solid #ffffff;
	font-weight: 600;
}

.contents-header-banner-area{
	margin-top:10px;
	display: flex;
	flex-direction: column;
}
.contents-header-upper-banner-icon{
	width: 25px;
	margin-right: 8px;
}
.contents-header-upper-banner{
	background: #333333;
	height: 50px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contents-header-down-banner{
	display:flex;
	background: #e1e1e1;
	height: 150px;
}
.contents-header-down-banner-right{
	display: flex;
	justify-content: center;
	align-items: center;
}

.contents-header-down-banner-right > a{
    background: #3a4ca8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
}


/*body*/
.contents-body-wrap{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 5px;
}

.contents-body-row{
	display: flex;
	flex-direction: row;
	padding: 30px 0px;
    border-bottom: 1px solid #c9c9c9;
}

.contents-body-content-wrap{
	flex: 8;
	display: flex;
}
	.contents-body-cover-wrap{
	    width: 138px;
		height: 200px;
		border-radius: 10px;
		overflow: hidden;
	}
	.contents-body-cover-wrap > img{
		height: 100%;
	}
	.contents-body-info-wrap{
		display: flex;
		flex-direction: column;
		margin-left: 15px;
	}
		.contents-title{
			font-size: 22px;
		}
		.contents-writer{
			font-size: 16px;
			color: #545454;
		}
		.contents-body-info-area{
			margin-top: 10px;
			height: 50px;
		}
		.contents-info{
			color: #565656;
		}
		.contents-body-tag-area{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		.contents-body-tag-area > span{
			border: 2px solid #3928c9;
		    padding: 10px;
		    margin-right: 10px;
		    border-radius: 10px;
		    background: #ffffff;
		    color: #3928c9;
		    font-weight: 600;
		    font-size: 14px;
		}
		.contents-data-area{
			display: flex;
			margin-top: 65px;
		}
		.contents-data-col{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 20px;
		}
		.contents-data-col > img{
		
		}
		.contents-data-col > span{
		
		}

.contents-body-button-wrap{
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: end;
}
.contents-body-button-wrap > button{
	margin-top: 5px;
	background-color: #ffffff;
	padding: 10px 0px;
	width: 150px;
	border: 1px solid #333333;
    font-weight: 700;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents-body-button-wrap > button > img{
	margin-right: 10px;
}



.novel-wrap{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.novel-wrap-title{
	color: #333333;
	margin-bottom: 10px;
	margin-right: 20px;
}
/*커버*/
.novel-cover-wrap{
	flex:3;
	display: flex;
	flex-direction: column;
	padding: 0px 30px;
}
.novel-cover-area{
	padding: 0px 50px;
	margin-top: 10px;
}
.novel-cover-img-wrap{
	border: none;
}
.novel-cover-img-wrap > img{
	width: 100%;
	border: 2px solid #333333;
	border-radius: 10px;
}


/*file*/
.novel-cover-controller-area{
	margin-top: 20px;
}
.filebox{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
}
.filebox .upload-name {
	border:none;
    border-bottom: 1px solid #dddddd;
    color: #5a5a5a;
    flex: 7;
    height: 100%;
    margin-right: 10px;
}
.filebox label {
    display: flex;
    justify-content:center;
    align-items:center;
    color: #fff;
    background-color: #373cb7;
    cursor: pointer;
    flex: 3;
    height: 100%;
    font-size: 14px;
    border: 0;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
/*커버*/

/*내용*/
.novel-info-wrap{
	flex: 7;
	display: flex;
	flex-direction: column;
}
.novel-info-line-col{
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.novel-info-line-row{
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}
.novel-info-sub-line-row{
	display: flex;
	flex-direction: row;
	width: 98%;
}
.novel-info-sub-line-area{
	flex: 1;
}
.novel-info-input-area > input{
	width: 95%;
	padding-left: 10px;
	line-height: 34.5px;
	border: 1px solid #767676;
}
.novel-info-input-area > textarea{
	width: 95%;
	height: 100px;
	padding-left: 10px;
	border: 1px solid #767676;
}
.novel-info-input-area > select{
	width: 95%;
	height: 38.5px;
	padding-left: 10px;
	color: #767676;
}
.novel-info-input-area > select > option{
	padding: 10px 0;
}
.novel-info-input-label{
	margin-right: 15px;
}
.novel-info-guide-area{
	width: 93%;
	background-color: #e7e7e7;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
}
.novel-info-btn-area{
	display: flex;
	flex-direction: row;
	width: 98%;
	justify-content: flex-end;
	align-items: center;
}

.novel-info-btn-area > button{
	display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}

.btn-back{
	color: #fff;
    background-color: #707070;
}
.btn-send{
	color: #fff;
	background-color: #1b92cd;
}


/*내용*/


/*Tagify 라이브러리*/
.tagify{    
  width: 100%;
  max-width: 907px;
}

.tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

.customTags{
	max-width: 96%;
	font-size: 13px;
	--tag-border-radius: 1px !important;
	--tags-border-color: #767676 !important;
	--placeholder-color: rgb(130 132 130) !important;
}





